#enter {
  box-sizing: border-box;
  width: 100%;
  background-color: grey;
  padding: 10px;
  margin: 0px;
  border: 2px solid black;
  height: 150px;
  color: white;
  font-family: monospace;
}

#myhtml {
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  background-color: grey;
  padding: 10px;
  margin: 0px;
  margin-bottom: 20px;
  border: 2px solid black;
  height: 150px;
  color: white;
  font-family: monospace;
}